<div class="arm2e-chat-roll">
  <div class="arm2e-chat-roll-header">
    <strong>{{label}}</strong>
    <span class="arm2e-roll-type">{{rollTitle}}</span>
  </div>
  <div class="arm2e-chat-roll-steps">{{{stepsHtml}}}</div>
  <div class="arm2e-chat-roll-total">
    <span class="die-result">{{dieValue}}</span>
    <span class="modifier">{{modifierLabel}}</span>
    <span class="equals">=</span>
    <strong class="total">{{total}}</strong>
  </div>
  {{{castingHtml}}}
  {{{explodeHtml}}}
  {{{botchHtml}}}
</div>
